name: Generate ASCII Artwork
on: [push]
jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install cowsay
        run: sudo apt-get install -y cowsay

        
      - name: Execute ASCII Artwork
        run: cowsay -f dragon "Run for cover... the dragon is here!" >> dragon.txt

      - name: Test file exists
        run: grep -i "dragon" dragon.txt

      - name: Read file
        run: cat dragon.txt
