name: Generate ASCII Artwork
on: [push]
jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Executing Shell script
        run: |
            chmod +x ./Ascii_script.sh
            ./Ascii_script.sh
